/* index.html */
:root {
  --color-text: #757575;
  --color-h2-h3: #212121;
  --color-hover: #2196f3;
  --link-color: #212121;
  --studio-color: black;
  --hero-background-color: #2f303a;
  --hero-text-color: #ffffff;
  --background-team-color: #f5f4fa;
  --background-footer: #2f303a;
  --footer-studio: white;
  --footer-contacts: #ffffff99;
  --border-color: #ececec;
  --button-hover: #188ce8;
  --border-card: #eeeeee;
}

body {
  background-color: var(--hero-text-color);
  font-family: 'Roboto', sans-serif;
  color: var(--color-h2-h3);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.container {
  /* outline: 1px solid tomato; */

  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  
  background-color: #ffffff;
  border-bottom: 1px solid var(--border-color);
  
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--color-hover);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-right: 93px;
}

.site-navigation,
.header-contacts-list,
.mail-header,
.list-desk,
.list-gallery,
.list-team,
.footer-contacts-list,
.list-button,
.list-card,
.social-team,
.social-footer,
.social-list,
.client {
  list-style: none;
}

.logo-black {
  color: var(--studio-color);
}

.site-navigation {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;
}

.nav-link {
  display: block;
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  margin: 0;
  padding: 0;
}

.site-navigation li:not(:last-child) {
  margin-right: 50px;
}

.site-navigation .nav-link.current {
  color: var(--color-hover);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-hover);
}

.list-link {
  position: relative;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.current::after {
  position: absolute;

  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;

  background-color: var(--color-hover);
  border-radius: 2px;
}

.header-contacts-list {
  display: flex;
}

.mail-header,
.phone-header {
  display: flex;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  align-items: center;
}

.mail-header:hover,
.mail-header:focus {
  color: var(--color-hover);
}

.phone-header:hover,
.phone-header:focus {
  color: var(--color-hover);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts-list {
  margin-left: auto;
}

.header-contacts-list li {
  margin-right: 50px;
}

.header-contacts-list li:last-child {
  margin-right: 0;
}

/* hero */

.section-hero {
  background-color: var(--hero-background-color);

  background-repeat: no-repeat;
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/job.jpg');
}

.hero-title {
  color: var(--hero-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  letter-spacing: 00.06em;
  text-align: center;
  margin-bottom: 30px;

  margin-left: auto;
  margin-right: auto;
}

.button-title-hero {
  display: block;
  border: none;
  border-radius: 4px;

  background-color: var(--color-hover);
  color: var(--hero-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.button-title-hero:hover,
.button-title-hero:focus {
  background-color: var(--button-hover);
}

/* section benefits */

.section-benefits {
  padding-bottom: 0;
}

.list-desk {
  display: flex;
  justify-content: center;
}

.list-desk li:not(:last-child) {
  margin-right: 30px;
}

.list-desk li {
  width: 270px;
}

.icon-benefits {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-team-color);

  align-items: center;
  justify-content: center;
}

.subtitle {
  color: var(--link-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.text-subtitle {
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section img */

.subtitle-img {
  color: var(--link-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.list-gallery {
  display: flex;
  justify-content: center;
}

.list-gallery li:not(:last-child) {
  margin-right: 30px;
}

.item-gallery {
  position: relative;
}

.text-gallery {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.caption {
  position: absolute;

  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* section team */

.card-team {
  background-color: var(--hero-text-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team {
  background-color: var(--background-team-color);
}

.subtitle-team {
  color: var(--color-h2-h3);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.list-team {
  display: flex;
  justify-content: center;
}

.card-team:not(:last-child) {
  margin-right: 30px;
}

.subtitle-name {
  color: var(--color-h2-h3);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.command-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-team {
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-team:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: #afb1b8;
}

/* clients */

.subtitle-clients {
  color: #212121;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.list-clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link-client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.link-client:hover {
  border: 1px solid var(--color-hover);
}

.icon-client {
  fill: #afb1b8;
}

.link-client:hover .icon-client,
.link-client:focus .icon-client {
  fill: var(--color-hover);
}

/* footer */

.logo-footer {
  display: inline-block;

  color: var(--color-hover);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-bottom: 20px;
}

.footer {
  background-color: var(--background-footer);

  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-white {
  color: var(--footer-studio);
}

.address {
  color: var(--hero-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}

.mail-footer {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-bottom: 9px;
}

.phone-footer {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--color-hover);
}

.phone-footer:hover,
.phone-footer:focus {
  color: var(--color-hover);
}

.li-mail {
  margin-bottom: 9px;
}

/* portfolio */

/* button */

.list-button {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.btn {
  background-color: var(--background-team-color);
  cursor: pointer;
  color: var(--color-h2-h3);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border: none;
}

.btn {
  border-radius: 4px;

  padding: 6px 22px;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-btn:not(:last-child) {
  margin-right: 8px;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-hover);
}

.btn:hover,
.btn:focus {
  color: var(--hero-text-color);
}

/* text */

.list-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  cursor: pointer;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:nth-child(n + 7) {
  margin-bottom: 0;
}

.link-card:hover,
.link-card:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-card {
  display: block;
  text-decoration: none;
}

.text-card {
  padding: 20px 24px;

  border-right: 1px solid var(--border-card);
  border-bottom: 1px solid var(--border-card);
  border-left: 1px solid var(--border-card);
}

.text-list {
  color: var(--color-text);
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.subtitle-card {
  color: var(--color-h2-h3);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.container-footer {
  margin-right: 70px;
}

.social-container {
  display: flex;
  align-items: baseline;
}

.text-footer {
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

/* join */

.social-list:not(:last-child) {
  margin-right: 10px;
}

.socials-icon {
  fill: #ffffff;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #2196f3;
}
